<h2>Administraci칩n</h2>

<div class="row mt-5 container-fluid d-flex justify-content-center">
<div class="card col-md-3 m-3">
  <div class="card-header text-center">
    Total<span class=" ms-2 badge text-bg-secondary">0</span>
  </div>
  <div class="card-body text-center p-5 m-3">
    <h3 class="card-title">Pedidos</h3>
    <a href="#" class="btn btn-primary mt-3">Ver m치s</a>
  </div>
</div>
<div class="card col-md-3 m-3">
  <div class="card-header text-center">
    Total<span class=" ms-2 badge text-bg-secondary">{{users.length}}</span>
  </div>
  <div class="card-body text-center p-5 m-3">
    <h3 class="card-title">Usuarios</h3>
    <a href="/admin/users" class="btn btn-primary mt-3">Ver m치s</a>
  </div>
</div>
<div class="card col-md-3 m-3">
  <div class="card-header text-center">
    Total<span class=" ms-2 badge text-bg-secondary">0</span>
  </div>
  <div class="card-body text-center p-5 m-3">
    <h3 class="card-title">Productos</h3>
    <a href="#" class="btn btn-primary mt-3">Ver m치s</a>
  </div>
</div>
</div>

