<div>
  <h5 class="text-center text-secondary mt-5">Bienvenid@ a Walton Bakery {{{name}}}</h5>
  {{!-- {{> formProducts}} --}}
 {{!-- {{> chat}} --}}
 <div class="container mt-5" style="height:100vh;"> 
    <div class="row justify-content-start">
   {{> products}}
   </div>
 </div>
